.p-sidebar {
    background-color: white;
    /* margin-top: 233px;
    margin-left: 60px; */
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    width: 400px;
}

.p-sidebar-close {
    padding-top: -20px;
}

.avatar_dropdown {
    width: 100px;
    height: 35px;
    background-color: white;
    position: absolute;
    right: 33px;
    top: 7%;
}

.logout_button:hover {
    color: grey;
}

.esri-attribution{
    display: none!important;
}

.map_sub_container{
    padding-left: 25px;
    padding-right: 25px;
}

.p-splitter{
    background: #00211D!important;
}

.p-splitter-gutter{
    display: grid!important;
    background: #00211D!important;
}

.p-splitter-gutter-handle{
    background: #00211D!important;
}

.left-bar{
    background-color: #697171;
    color: white;
    padding: 20px;
    margin-right: 6px;
}

.middle-bar{
    border: 2px solid;
    color: white;
    margin-right: 6px;
    padding: 15px;
}

.parcel-information{
    line-height: 27px;
    padding: 15px;
    font-weight: 400;
    /* height: 200px; */
    background-color: #81908e;
    height: calc(50% - 15px);
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 16px;
}

.left_bar_item{
    display: flex;
    margin-bottom: 5px;
    width: 200px;
    padding: 5px;
    /* width: fit-content; */
}

.left_bar_item:hover{
    background-color: grey;
}

.left_bar_item:hover{
    cursor: pointer;
}

.custom_checkbox_outside{
    height: 30px;
    width: 30px;
    background-color: #515757;
    border-radius: 5px!important;
    padding: 8px;
}

.custom_checkbox_inside{
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 2px!important;
    /* margin: 5px; */
}

.left_bar_letter{
    margin-top: 2px;
    font-size: 16px;
    margin-left: 15px;
}

.left_bar_icon{
    width: 30px;
    height: 30px;
}

.chatbot_title{
    background: white;
    color: black;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    padding: 10px;
    font-size: 16px;
}

.chatbot_panel{
    display: flex;
    flex-direction: column;
    height: 50%;
}

/* .esri-ui-inner-container {
    display: none;
} */

.esri-popup--aligned-top-center, .esri-popup--aligned-top-left, .esri-popup--aligned-top-right{
    display: none!important;
}

.table-bar{
    background-color: #133a35;
    color: white;
    padding: 20px;
    margin-left: 6px;
}

.menu-button{
    font-family: primeicons!important;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.esri-component{
    box-shadow: 0 0 0!important;
}

.p-datatable-scrollable, .p-datatable-wrapper{
    height: 100%;
}

th, td{
    padding-left: 8px;
    padding-right: 8px;
}

.limited-text {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-page-text {
    /* max-width: 100px; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-page{
    padding: 10px;
    font-size: 1rem;
    color: white;
}