.p-sidebar {
    background-color: white;
    /* margin-top: 233px;
    margin-left: 60px; */
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 30px;
    width: 400px;
}

.p-sidebar-close {
    padding-top: -20px;
}

.avatar_dropdown {
    width: 100px;
    height: 35px;
    background-color: white;
    position: absolute;
    right: 33px;
    top: 7%;
}

.logout_button:hover {
    color: grey;
}

.esri-attribution{
    display: none!important;
}

.map_sub_container{
    padding-left: 25px;
    padding-right: 25px;
}

.p-splitter{
    background: #00211D!important;
}

.p-splitter-gutter{
    display: grid!important;
    background: #00211D!important;
}

.p-splitter-gutter-handle{
    background: #00211D!important;
}

.left-bar{
    background-color: #697171;
    color: white;
    padding: 20px;
    margin-right: 6px;
}

.middle-bar{
    border: 2px solid;
    color: white;
    margin-right: 6px;
    padding: 15px;
}

.parcel-information{
    line-height: 27px;
    padding: 15px;
    font-weight: 400;
    /* height: 200px; */
    background-color: #81908e;
    height: calc(50% - 15px);
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 16px;
}

.left_bar_item{
    display: flex;
    margin-bottom: 5px;
    width: 200px;
    padding: 5px;
    /* width: fit-content; */
}

.left_bar_item:hover{
    background-color: grey;
}

.left_bar_item:hover{
    cursor: pointer;
}

.custom_checkbox_outside{
    height: 30px;
    width: 30px;
    background-color: #515757;
    border-radius: 5px!important;
    padding: 8px;
}

.custom_checkbox_inside{
    height: 14px;
    width: 14px;
    background-color: white;
    border-radius: 2px!important;
    /* margin: 5px; */
}

.left_bar_letter{
    margin-top: 2px;
    font-size: 16px;
    margin-left: 15px;
}

.left_bar_icon{
    width: 30px;
    height: 30px;
}

.chatbot_title{
    background: white;
    color: black;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
    padding: 10px;
    font-size: 16px;
}

.chatbot_panel{
    display: flex;
    flex-direction: column;
    height: 50%;
}

/* .esri-ui-inner-container {
    display: none;
} */

.esri-popup--aligned-top-center, .esri-popup--aligned-top-left, .esri-popup--aligned-top-right{
    display: none!important;
}

.table-bar{
    background-color: #133a35;
    color: white;
    padding: 20px;
    margin-left: 6px;
}

.menu-button{
    font-family: primeicons!important;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.esri-component{
    box-shadow: 0 0 0!important;
}

/* .p-datatable-scrollable, .p-datatable-wrapper{
  height: 100%;
} */

.p-datatable-wrapper{
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
}

th, td{
    padding-left: 8px;
    padding-right: 8px;
}

.limited-text {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-page-text {
    /* max-width: 100px; */
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
}

.table-page{
    padding: 10px;
    font-size: 1rem;
    color: white;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.p-inputtext{
    border-width: 1px;
    padding:  5px;
    padding-left: 10px;
}

.kb-file-upload {
  margin-top: 10px;
}
.file-upload-box {
  border: 1px dashed #b6bed1;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  padding: 8px;
  align-items: center;
  justify-content: center;
  /* color: #1a1b1c; */
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}
.file-upload-box .file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.file-link{
  font-weight: 500;
  text-decoration: underline;
}
.file-upload-box .file-link:hover{
  text-decoration: none;
}
.file-atc-box {
  margin-top: 15px;
}
.file-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: #1a1b1c; */
  color: white;
  font-weight: 400;
  /* margin-bottom: 3px; */
}
.deleteFile{
  font-size: 20px;
  cursor: pointer;
}
.progress-bar {
  height: 8px;
  width: 100%;
  background: #dae2f2;
  border-radius: 4px;
}
.progress-bar-fill {
  width: 100%;
  height: 8px;
  background: #1861f2;
}

.p-button {
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;
  color: #ffffff;
  background: #1861f2;
  border: 1px solid #1861f2;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.p-dialog-header, .p-dialog-content, .p-dialog-footer{
  background: #00211D!important;
  color: white;
}

.p-button.p-button-danger, .p-button-group.p-button-danger > .p-button, .p-splitbutton.p-button-danger > .p-button, .p-fileupload-choose.p-button-danger{
  /* color: #ffffff; */
  background: #ef4444;
  border: 1px solid #ef4444;
}

.p-dropdown-label{
  width: 40px;
  align-content: center;
}

.p-datatable{
  padding-bottom: 15px;
}

.p-button.p-button-success, .p-button-group.p-button-success > .p-button, .p-splitbutton.p-button-success > .p-button, .p-fileupload-choose.p-button-success{
  color: #ffffff;
  background: #22c55e;
  border: 1px solid #22c55e;
}

.p-button.p-button-warning, .p-button-group.p-button-warning > .p-button, .p-splitbutton.p-button-warning > .p-button, .p-fileupload-choose.p-button-warning {
  color: #ffffff;
  background: #f97316;
  border: 1px solid #f97316;
}

.p-button.p-button-info, .p-button-group.p-button-info > .p-button, .p-splitbutton.p-button-info > .p-button, .p-fileupload-choose.p-button-info {
  color: #ffffff;
  background: #0ea5e9;
  border: 1px solid #0ea5e9;
}

.p-button.p-button-secondary, .p-button-group.p-button-secondary > .p-button, .p-splitbutton.p-button-secondary > .p-button, .p-fileupload-choose.p-button-secondary {
  color: #ffffff;
  background: #64748b;
  border: 1px solid #64748b;
}

.p-paginator{
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

.p-button.p-button-text {
  background-color: transparent;
  color: #ffffff;
  border-color: transparent;
}

.profile-right{
  font-size: 17px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
}

.subscribe{
  font-size: 20px;
  color: #2DFF49;
  font-weight: bold;
  cursor: pointer;
}